*{
    box-sizing: border-box;
}

.flex-container{
    display: flex;
    justify-content: center;
    
}

.item {
    flex-basis: 100px; /* = width:100px */
    height: 100px;
    background-color: burlywood;
    padding: 10px; /*відступ з середини */
    border: 5px solid darkcyan; 
    margin: 10px; /*відступ з зовні */
}



  